.main__row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .main__photo--container {
    width: 80%;
    height: auto;
    margin: 50px 0 50px 0;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
  }
  
  .main__photo--container:hover .main__photo {
    transform: scale(1.25);
  }
  
  .main__photo--container::after {
    content:"";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0);
    transition: all 300ms ease;
  }
  
  .main__photo--container:hover::after {
    background-color: rgb(0, 0, 0, 0.7);
    visibility: visible;
  }
  
  .main__photo {
    width: 100%;
    height: 100%;
    transition: all 300ms ease;
  }
  
  .main__text {
    z-index: 2;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    position: absolute;
    color: white;
    left: 10%;
    top: 100%;
    opacity: 0;
    transition: opacity 200ms ease, top 400ms ease;
  }
  
  .main__text--title {
    margin-bottom: 32px;
  }
  
  .main__text--para {
    font-size: 20px;
  }
  
  .main__photo--container:hover .main__text {
    top: 0;
    opacity: 1;
  }